@use "functions" as *;
@use "variables" as *;

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: inherit;
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--dark-blue);
  font-family: var(--font-body);
  font-weight: 400;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-family: var(--font-title);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

#root {
  height: inherit;
}

.white {
  fill: var(--white);
}
