@use "functions" as *;
@use "variables" as *;

.icon {
  height: auto;
  fill: var(--white);
}

.very-small-icon {
  width: 30px;
}

.small-icon {
  width: 45px;
}

.large-icon {
  width: 445px;
}

#google-icon {
  width: 18px;
  height: auto;
}

#apple-icon {
  width: 18px;
  height: auto;
}

.input-arrow-down-symbol {
  position: absolute;
  right: 13px;
  top: 20px;
  z-index: 0;
}
