@use "functions" as *;
@use "variables" as *;

#signup-modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 112, 131, 0.4);
  z-index: 2;
}

#signup-modal {
  display: flex;
  flex-direction: column;
  width: rem(600);
  height: rem(650);
  background-color: rgb(0, 0, 0);
  border-radius: rem(15);
}

#modal-head-container {
  display: flex;
  justify-content: flex-start;
  height: rem(53);
  padding: 0 rem(16);
}

.close-symbol-wrapper {
  width: rem(34);
  height: rem(34);
  margin: auto 0;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background-color: rgba(239, 243, 244, 0.1);
  }
}

#signup-close-symbol {
  cursor: pointer;
}

#signup-first-page-heading,
#signup-form {
  margin-left: rem(32);
  margin-right: rem(32);
}

#signup-first-page-heading {
  margin-top: rem(16);
  margin-bottom: rem(28);
  font-family: inherit;
  font-size: rem(23);
}

.signup-input-container {
  position: relative;
  width: rem(536);
  height: rem(57);
  margin: rem(12) 0 rem(24);
  border: rem(1) solid var(--gray);
  border-radius: rem(5);

  &:focus-within {
    border-width: rem(2);
    border-color: var(--light-blue);
  }

  .form-label {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 0 rem(7);
    color: #6e767d;
    font-family: inherit;
    font-size: rem(17);
    opacity: 1;
    transform: translateY(-15px);
    transform-origin: 0 0;
    transition: all 300ms;
    cursor: text;
  }

  .form-input {
    position: absolute;
    bottom: 0;
    margin-bottom: rem(7);
    width: 100%;
    padding: 0 rem(7);
    font-family: inherit;
    font-size: rem(17);
    color: var(--gray);
    color: var(--white);
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform 500ms;

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label {
      transform: translateY(-28px) scale(0.8);
    }

    &:focus {
      ~ .form-label {
        color: var(--light-blue);
      }
    }

    &::placeholder {
      color: transparent;
    }
  }
}

#signup-phone-alternative {
  width: fit-content;
  margin: 0;
  padding-top: rem(4);
  color: var(--light-blue);
  font-size: rem(15);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#dob-heading {
  margin-top: rem(30);
  margin-bottom: 0;
  color: #d9d9d9;
  font-size: rem(15);
  font-weight: 700;
}

#dob-text {
  margin: 0;
  color: #6e767d;
  font-size: rem(15);
}

#dob-inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(536);
  height: rem(90);
  margin: rem(16) 0;

  #dob-month,
  #dob-day {
    margin-right: rem(12);
  }

  #dob-month {
    width: rem(256);
  }

  #dob-day {
    width: rem(117);
  }

  #dob-year {
    width: rem(139);
  }

  #month,
  #day,
  #year {
    width: 100%;
  }

  #dob-month,
  #dob-day,
  #dob-year {
    position: relative;
    height: rem(58);
    font-family: inherit;
    background-color: transparent;
    border: rem(2) solid var(--gray);
    border-radius: rem(5);

    &:focus-within {
      border-color: var(--light-blue);
    }
  }

  .dob-input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: var(--white);
    font-family: inherit;
    font-size: rem(17);
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  .dob-input-label {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: rem(10);
    padding-left: rem(10);
    color: #6e767d;
    font-size: rem(14);
  }

  option {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }
}

#signup-next-button-container {
  margin-top: auto;
  padding: rem(12) rem(32) rem(36);

  #signup-next-button {
    width: 100%;
    height: rem(44);
    margin: 0 auto;
    font-weight: 700;
    color: #0f1419;

    &:disabled {
      background-color: rgb(120, 124, 124);
      cursor: default;
    }
  }
}

.arrow-left-symbol {
  width: rem(34);
  height: rem(34);
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: rgba(239, 243, 244, 0.1);
  }
}

.modal-secondary-head-container {
  display: flex;
  align-items: center;
  height: rem(53);
  padding: 0 rem(16);

  #signup-second-page-heading {
    margin: 0;
  }
}

#signup-second-page-title {
  font-family: var(--font-body);
  font-size: rem(20);
  color: rgb(217, 217, 217);
  margin: 0;
}

#signup-second-page-container {
  margin: 0 rem(32);
  padding-bottom: rem(48);
  text-align: left;
  color: rgb(217, 217, 217);

  #signup-second-page-heading {
    font-family: var(--font-body);
    font-size: rem(23);
    color: rgb(217, 217, 217);
    padding-bottom: rem(12);
  }

  .signup-second-page-input-container {
    display: flex;
  }

  .MuiCheckbox-root:hover {
    background-color: rgba(110, 118, 125, 0.1);
  }

  .Mui-checked {
    color: var(--light-blue);
  }

  h4 {
    font-size: rem(20);
    margin-top: rem(32);
    margin-bottom: 0;
  }

  label {
    width: 100%;
    margin: rem(12) 0 0;
    font-size: rem(15);
  }

  #signup-second-page-details-text {
    margin: rem(40) 0 0;
    font-size: rem(15);

    a {
      color: var(--light-blue);
    }
  }
}
